{% extends "coupons/base.html" %}

{% load i18n %}
{% load lazysignup_tags %}

{% block title %}{% trans "Redeem Coupon" %} - {{ block.super }}{% endblock %}

{% block content %}
    {% if object_list %}
        <p>
            {% blocktrans count object_list|length as count %}
                You redeemed the following coupon:
            {% plural %}
                You redeemed the following coupons:
            {% endblocktrans %}
        </p>
        <ul>
            {% for redemption in object_list %}
                <li>
                    {% with redemption.coupon as coupon %}
                        {% include "coupons/coupon_detail.html" %}
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't redeemed any coupons.</p>
    {% endif %}

{% endblock %}
